<h1>Places</h1>

<% if session["user_id"] != nil %>

<ul>
  <% for place in @places %>
    <li><a class="link-opacity-50-hover" href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>


<% %>


<p>
  <a href="/places/new"><button type="button" class="btn btn-primary">New place</button></a>
</p>

<% else %>
  <p>You can see your places if you log in! </p>
<% end %>